.stockify__linechart{
    flex: 1;
    width: 100%;
    background-color: rgb(12, 12, 12);
    border-radius: 0px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}